/* Homepage */
.homepageContent {
  width: 90%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.mainContent h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mainContent p {
  font-size: 18px;
  color: #023047;
}

.slideAndContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding-inline: 10%;
}
.carousel {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  object-fit: cover;
  aspect-ratio: 3/2;
  width: 100%;
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slideAndContent .content {
  font-size: 16px;
  line-height: 2;
  width: 45%;
}

/* Contact page */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contactContent {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  min-height: 50vh;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 20px;
  border: 1px solid #c2ebff;
  border-radius: 10px;
  gap: 5px;
}
.contactForm > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
}
.contactForm h1 {
  font-size: 36px;
  font-weight: bold;
}
.contactForm h4 {
  margin: 0;
  color: #023047;
  font-size: 18px;
  font-weight: 400;
}
.contactForm .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  gap: 5px;
}

.contactForm .form form .first {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contactForm .form form .first div {
  width: 48%;
}

.contactForm .form form .second {
  display: flex;
  flex-direction: column;
}
.input {
  margin-top: 15px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.input input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 10px;
}

.phone-input {
  display: flex;
  align-items: center;
}

.phone-input select {
  padding-block: 10px;
  border: 1px solid grey;
  font-size: 15px;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.phone-input input {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  flex: 1;
}

#contactBTN {
  background-color: #023047;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.875em;
}
.success {
  color: green;
  font-size: 0.875em;
  display: block;
}

/* Project page */
.contentProjects {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 5%;
}
.contentProjects .header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contentProjects .content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contentProjects .cards {
  width: 55%;
  background: #f2f2f2;
  margin-block: 10px;
  padding-inline: 45px;
  border-radius: 10px;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectTitle {
  font-size: 21px;
}

.projectOverview h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.projectOverview p {
  margin-top: 20px;
  font-size: 16px;
}

.projectTech h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
.projectTech p {
  margin-top: 20px;
  font-size: 16px;
}

.projectPic img {
  width: 100%;
  aspect-ratio: 7/4;
}

/* Skills page */
.contentSkills {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 50px;
  padding: 5%;
}
.contentSkills .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.contentSkills > .text {
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
  font-size: 18px;
}
.contentSkills .row {
  margin: 1rem 0;
}
.contentSkills .item {
  padding: 0.5rem 0;
  margin: 0.3rem 0;
}
.contentSkills .item-text {
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
}
.contentSkills .item-text span:last-child {
  position: absolute;
}
.contentSkills .item-text .w-90 {
  margin-left: 85%;
}
.contentSkills .item-text .w-75 {
  margin-left: 70%;
}
.contentSkills .item-text .w-85 {
  margin-left: 80%;
}
.contentSkills .item-text .w-80 {
  margin-left: 75%;
}
.contentSkills .item-text .w-60 {
  margin-left: 55%;
}
.contentSkills .item-text .w-68 {
  margin-left: 63%;
}
.progress {
  margin: 0.8rem 0;
  border-radius: 10px;
  height: 24px;
  width: 100%;
  background-color: #6a6a6a;
  overflow: hidden;
}
.progress-bar {
  background: #023047;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.progress-bar.w-90 {
  width: 90%;
}
.progress-bar.w-75 {
  width: 75%;
}
.progress-bar.w-85 {
  width: 85%;
}
.progress-bar.w-80 {
  width: 80%;
}
.progress-bar.w-60 {
  width: 60%;
}
.progress-bar.w-68 {
  width: 68%;
}

/* blog page */
.contentBlog {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 50px;
  padding: 5%;
}

.contentBlog .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.contentBlog > .text {
  width: 70%;
  margin: 1.5rem auto;
  font-size: 18px;
  text-align: center;
}
.contentBlog .item {
  margin: 1rem 0;
  background: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}
.contentBlog .item .item-img {
  border-bottom: 8px solid #023047;
  overflow: hidden;
}
.contentBlog .item .item-img img {
  width: 100%;
  transition: all 0.4s ease;
}
.contentBlog .item .item-img:hover img {
  transform: scale(1.2);
}
.contentBlog .item .item-content {
  padding: 1.5rem;
}
.contentBlog .item .item-content span {
  color: #023047;
  text-transform: uppercase;
}
.contentBlog .item .item-content span .fas {
  font-size: 0.85rem;
}
.contentBlog .item .item-content h2 {
  font-weight: 400;
  font-size: 1.4rem;
}
.contentBlog .pagination {
  margin: 3rem 0 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentBlog .page-link {
  background: #023047;
  display: block;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  transition: all 0.4s ease;
}

.contentBlog .page-link:nth-child(2) {
  background: #ffb703;
}
.contentBlog .page-link:hover {
  background: #8ecae6;
}

.contentBlog .btn {
  border: none;
  color: white;
  margin: 1rem 0;
  border-radius: 35px;
  background: #023047;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contentBlog .btn:hover {
  opacity: 0.7;
}
